section{
    width: 100%;
    max-width: 1200px;
}

h2 {
    font-family: 'Inter', Courier, monospace;
    font-weight: 600;
    color: #000;
    line-height: 1.2rem;
}
.form-container {
    display: flex;
    padding: 2em;
    gap: 1em;
    flex-direction: column;
    max-width: 1200px;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5em;
    grid-template-rows: auto;
    font-family: 'Inter', Courier, monospace;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 2em 15%;
    border-radius: 20px;
    max-width: 1200px;
    font-weight: 600;
}

.title, 
.description, 
.comments, 
.submit {
    grid-column: span 2;
}
textarea {
    max-width: 320px;
    min-width: 100%;
    field-sizing: content;
    resize: vertical;
}
.submit .btnsubmit{
    color: white;
    background-color: var(--color-theme-blue);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .3s;
}
.submit .btnsubmit:hover {
    background-color: var(--color-theme-light-blue); 
}

.form-group {
    margin-bottom: 15px;
}
.form-group {
    display: block;
    font-size: 1rem;
    width: 100%;
    max-width: 100%;
}

.form-group.description textarea,
.form-group.comments textarea {
    grid-column: 1 / -1; /* Asegura que ocupe toda la fila pero sin forzar ancho extra */
}

label{
    font-size: .9rem;
}
.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
}
.date_reecepcion input{
    cursor: pointer;
}
.form-group .btnsubmit {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
}

fieldset {
    width: 100%; 
    max-width: 100%; 
    resize: vertical;
    box-sizing: border-box;
    border: none;
}   

input[type="file"]{
    opacity: 0; /* Oculta el input pero lo mantiene funcional */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.file-label{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    height: 85px;
    border-radius: 5px;
    border: 2px dashed #ccc;
    margin-top: 5px;
    color: #ccc;
    position: relative;
    padding: 15px;
    svg{
        height: 100%;
        aspect-ratio: 1/1;
    }
}
.file-label:hover{
    background-color: rgba(207, 233, 255, 0.466);
    color: var(--color-theme-light-blue);
    border-color: var(--color-theme-blue);
}

.file-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1em;
    gap: 10px;
}

.file-info{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.8rem;
    color: #000;
    width: 48%;
    height: 40px;
    border-radius: 10px;
    position: relative;
    align-content: center;
}

.file-icon{
    height: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    svg{
        width: 100%;
        height: 100%;
    }
}

.delete-file{
    color: #9c9c9c;
    width: 25px;
    height: 25px;
    position: absolute;
    background: none;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    svg{
        width: 100%;
        height: 100%;
    }
}

.delete-file:hover{
    color: var(--color-theme-red);
}


.newdepartament{
    display: flex; 
    align-items: center;  
}
.returnbutton{
    color: #949494;
    aspect-ratio: 1/1;
    background: none;
    border: none;
    height: 20px;
    margin: 5px 0 0 1px;
    svg{
        width: 100%;
        height: 100%;
    }
}
.returnbutton:hover{
    color: var(--color-theme-blue);
}


li{
    list-style: none;
}

.file-label{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    height: 85px;
    border-radius: 5px;
    border: 2px dashed #ccc;
    margin-top: 5px;
    color: #ccc;
    position: relative;
    padding: 15px;
    svg{
        height: 100%;
        aspect-ratio: 1/1;
    }
}

.file-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1em;
    gap: 10px;
}
.file-list__item{
    display: flex;
    align-items: center;
    color: #000;
    width: 49%;
    height: 40px;
    border-radius: 5px;
    position: relative;
    background: #eefbff;
    p{
    font-family: "Roboto Flex",Courier,monospace;
    display: -webkit-box;
    -webkit-line-clamp: 2;      /* Limita a 2 líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    font-weight: 500;
    }
}
.file-info{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.8rem;
    color: #000;
    width: 48%;
    height: 40px;
    border-radius: 10px;
    position: relative;
    align-content: center;
}

.file-icon{
    height: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    svg{
        width: 100%;
        height: 100%;
    }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  width: 400px;
  gap: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

.modaltitle{
    font-family: 'Inter', Courier, monospace;
    font-weight: 600;
    color: #000;
    line-height:normal;
     display: -webkit-box;
    -webkit-line-clamp: 2;     /* número de líneas máximo */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.modal-buttons{
    display: flex;
    justify-content: space-between;
}
/* CSS */
.button-24 {
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}

.azul{
    background-color: var(--color-theme-blue);
    border: 1px solid var(--color-theme-blue);
}
.azul:hover,
.azul:active {
  background-color: initial;
  background-position: 0 0;
  color: var(--color-theme-blue);
}
.rojo{
    background: #FF4742;
    border: 1px solid #FF4742;
}