
h2 {
    font-family: 'Inter', Courier, monospace;
    font-weight: 600;
    color: #000;
    line-height: 1.2rem;
}


.border-container{
    border: 1px solid #dddddd;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    border-radius: 15px;
    overflow: hidden;
}
section {
    display: grid;
    padding: 2em;
    gap: 1em;
}

.filter-container {
    display: flex;
    flex-direction: row;
    width: fit-content;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    font-family: 'Nunito Sans', Courier, monospace;
    padding: 10px 15px;
    gap: 1em;
}
.btn-filter{
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    width: 9rem;
    height: 5rem;
    border-radius: 5px;
    font-weight: 800;
    font-family: 'Nunito Sans', Courier, monospace;
}

.btn-filter{
    background: #ffffff;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
border: none;
  }


.btn-filter:hover{
    background: #f0f8ff;
}


.filter-options{
    display: inline-flex;
    gap: 1em;
}

.filter-label {
    font-weight: bold;
    margin-right: 8px;
}

.filter-select {
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    padding: 5px;
    font-size: 14px;
}

.reset-filter {
    color: #ff4d4f;
    cursor: pointer;
    font-weight: bold;
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.reset-filter:hover {
    text-decoration: underline;
}

span {
    font-family: 'Nunito Sans', Courier, monospace;
    font-weight: 600 ;
    padding: .3em;
    border-radius: 10px;
}


.estatus_1{
    color: #555555;
}

.estatus_2 {
    color: var(--color-theme-orange);
}

.estatus_3 {
    color: purple;
}

.estatus_4{
    color: var(--color-theme-green);
}

.estatus_5{
    color: var(--color-theme-light-blue);
}

.estatus_6 { 
    color: var(--color-theme-red);
}
