.logosecretaria{
  padding: .4rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 3.5rem;
    gap: .5rem;
    margin: 0 auto;
    justify-content: center;
    translate: -5px;
}

img {
    max-height: 2.5em;
}

h3 {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    line-height: 1.2rem;
    & span {
        color: var(--amarillo);
    }
}
li:hover .decorador{
  width: 10px;
  background: var(--amarillo);
  border-radius: 0 50% 50% 0;
}
li:hover {
  a {
    color: var(--amarillo);
  }
  svg {
    color: var(--amarillo);
  }
}
a{
    display: flex;
    align-items: center;
    font-family: 'Inter', Courier, monospace;
    font-size: medium;
    color: currentColor;
    gap: 1em;
    width: 100%;
}
a:hover{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1), .3s;
}

ul {
    list-style: none;
    padding: 0;
    margin: 1.5rem 0;
  }

li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: var(--gris-claro);
    gap: 1.1rem;
  }

.decorador {
    width: .2em;
    height: 1.8em;
    background-color: var(--gris-claro);
    border-radius: 0 20px 20px 0;
    transition: width 0.3s ease, height 0.3s ease, margin-right 0.3s ease;
    margin: 0; 
    padding: 0;     
}
  
svg{
  height: auto;
  color: var(--gris-claro);
  aspect-ratio: 1/1;
  width: 20px;
}
svg:hover{
  color: var(--amarillo);
}


.menu{
  width: 17rem;
    height: 100vh;
    background: var(--azul-escuro);
    position: sticky;
    top: 0px;
    
}
.flex1{
  flex: 1;
}

.notification-container{
  display: grid;
  gap: 5px;
  position: absolute;
  bottom: 10px;
  right: 40px;
  width: fit-content;
  justify-self: flex-end;
}
