<section class="container">
    <div class="date-container">
        <div class="picture">
            <img src="/student.png" alt="">
        </div>
        <div class="document-details">
          <div class="document-header">
              <h2>Richirast19{{"@"}}gmail.com</h2>
            </div>
            <div class="info-card">
              <h4>Nombre de Usuario</h4>
              <p>Ricardo_S23</p>
            </div>
            <div class="info-grid">
              <div class="info-card">
                <h4>Tipo de documento</h4>
                <p>asdas</p>
              </div>
              <div class="info-card">
                <h4>Tipo de documento</h4>
                <p>adasdas</p>
              </div>

            </div>
        
            <div class="info-grid">
              <div class="info-card">
                <h4>📅 Fecha de creación</h4>
                <p></p>
              </div>
              <div class="info-card">
                <h4>📥 Fecha de recepción</h4>
                <p></p>
              </div>
            </div>
            <div class="info-card">
              <h4>Creado por</h4>
              <p></p>
            </div>
        </div>  
    </div>
</section>
