section{
    width: 100%;
    max-width: 1200px;
}

h2 {
    font-family: 'Inter', Courier, monospace;
    font-weight: 600;
    color: #000;
    line-height: 1.2rem;
}
.date-container {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin: 2em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5em;
    grid-template-rows: auto;
    font-family: 'Inter', Courier, monospace;
    background-color: white;
    padding: 2em 15%;
    border-radius: 20px;
    max-width: 1200px;
    font-weight: 600;
    justify-items: center;
}


.picture{
    grid-column: span 2;
}
.picture{
    border: 10px solid rgb(199, 169, 113);
}


.picture{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
