<section class="container">
    <div class="form-container">
        <h2>Agregar Nuevo Usuario...</h2>
        
        <form >
            <!-- Foto de usuario -->
            <fieldset class="form-group picture-select-container">
                <h4>Seleccione una foto</h4>
                <div class="picture-select">
                    <label class="picture-option">
                      <input type="radio" name="userPhoto" value="1" required hidden>
                      <img class="imgprofileselect" src="/business-woman.png" alt="">
                    </label>
                    <label class="picture-option">
                      <input type="radio" name="userPhoto" value="2" required hidden>
                      <img class="imgprofileselect" src="/businessman.png" alt="">
                    </label>
                  </div>
            </fieldset>
            <script>
                const labels = document.querySelectorAll('.picture-option');
              
                labels.forEach(label => {
                  const img = label.querySelector('img');
                  img.addEventListener('click', () => {
                    const radio = label.querySelector('input');
                    radio.checked = true;
                  });
                });
              </script>
            <!-- Titulo del Documento -->
            <fieldset class="form-group title">
                <label for="name">Nombre</label>
                <input formControlName="name" class="input-form" type="text" id="name" name="name"  maxlength="255" placeholder="Nombre"/>
            </fieldset>

             <!-- Username -->
             <label for="username">Alias (Username)</label>
             <fieldset class="form-group title">
                 <input formControlName="username" class="input-form" type="text" id="username" name="username" placeholder="Username" required="">
             </fieldset>

            <!-- Referencia de Documento -->
            <label for="Correo">Correo</label>
            <fieldset class="form-group title">
                <input formControlName="Correo" class="input-form" type="text" id="Correo" name="Correo" placeholder="Correo" required="">
            </fieldset>

            <label for="Password">Contraseña</label>
            <fieldset class="form-group title">
                <input formControlName="Password" class="input-form" type="text" id="Password" name="Password" placeholder="Contraseña" required="">
            </fieldset>

            <!-- Departamento de envio -->
            <fieldset class="form-group type">
                <label for="senders_department">Rol</label>
                <select formControlName="sender_department" class="input-form" id="senders_department" name="senders_department" required="">
                    <option value="" disabled selected>Selecciona una opción</option>
                </select>
            </fieldset>
            <fieldset class="form-group type">
                <label for="senders_department">Permisos</label>
                <select formControlName="sender_department" class="input-form" id="senders_department" name="senders_department" required="">
                    <option value="" disabled selected>Selecciona una opción</option>
                </select>
            </fieldset>

            <!-- Botón para guardar -->
            <fieldset class="form-group submit">
                <button type="submit" >Guardar Documento</button>
            </fieldset>
            

        </form>
    </div>
</section>
