section{
    width: 100%;
    max-width: 1200px;
}

h2 {
    font-family: 'Inter', Courier, monospace;
    font-weight: 600;
    color: #000;
    line-height: 1.2rem;
}
.form-container {
    display: flex;
    padding: 2em;
    gap: 1em;
    flex-direction: column;
    max-width: 1200px;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5em;
    grid-template-rows: auto;
    font-family: 'Inter', Courier, monospace;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 2em 15%;
    border-radius: 20px;
    max-width: 1200px;
    font-weight: 600;
}

.title, 
.description, 
.comments, 
.submit,
.picture-select-container {
    grid-column: span 2;
}
textarea {
    min-width: 100%;
    max-width: 300px;
    field-sizing: content;
    resize: vertical;
}


.form-group {
    margin-bottom: 15px;
}
.form-group {
    display: block;
    font-size: 1rem;
    width: 100%;
    max-width: 100%;
}

.form-group.description textarea,
.form-group.comments textarea {
    grid-column: 1 / -1; /* Asegura que ocupe toda la fila pero sin forzar ancho extra */
}

label{
    font-size: .9rem;
}
.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
}
.date_reecepcion input{
    cursor: pointer;
}
fieldset {
    width: 100%; 
    max-width: 100%; 
    resize: vertical;
    box-sizing: border-box;
    border: none;
}   

.msg_error{
    color: var(--color-theme-red);
    font-size: .8rem;
    font-weight: 400;
}

.imgprofileselect{
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    width: 100px;
    border-radius: 50%;
    border: var(--color-theme-light-gray) 5px solid;
    overflow: hidden;
    cursor: pointer;
    transition: border-color 0.3s;
    
}

.picture-select {
    display: flex;
    gap: 1rem;
  }

  
  .picture-option input[type="radio"]:checked + .imgprofileselect,
  .picture-option input[type="radio"]:checked ~ .imgprofileselect {
    border-color: #007bff;
  }

.checkbox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: fit-content;
    font-weight: 400;
    margin: 3px 0;
    input{
        margin: 0;
    }
}
.checkbox-wrapper-16 *,
  .checkbox-wrapper-16 *:after,
  .checkbox-wrapper-16 *:before {
    box-sizing: border-box;
}

.checkbox-wrapper-16{
    
    width: fit-content;
  }

  .checkbox-wrapper-16 .checkbox-input {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  .checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile {
    border-color: #2260ff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #2260ff;
  }
  .checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile:before {
    transform: scale(1);
    opacity: 1;
    background-color: #2260ff;
    border-color: #2260ff;
  }
  .checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile .checkbox-icon,
  .checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile .checkbox-label {
    color: #2260ff;
  }
  .checkbox-wrapper-16 .checkbox-input:focus + .checkbox-tile {
    border-color: #2260ff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
  }
  .checkbox-wrapper-16 .checkbox-input:focus + .checkbox-tile:before {
    transform: scale(1);
    opacity: 1;
  }

  .checkbox-wrapper-16 .checkbox-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 5rem;
    min-height: 5rem;
    border-radius: 0.5rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
  }
  .checkbox-wrapper-16 .checkbox-tile:before {
    content: "";
    position: absolute;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    border-radius: 50%;
    top: 0.25rem;
    left: 0.25rem;
    opacity: 0;
    transform: scale(0);
    transition: 0.25s ease;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  .checkbox-wrapper-16 .checkbox-tile:hover {
    border-color: #2260ff;
  }
  .checkbox-wrapper-16 .checkbox-tile:hover:before {
    transform: scale(1);
    opacity: 1;
  }

  .checkbox-wrapper-16 .checkbox-icon {
    transition: 0.375s ease;
    color: #494949;
  }
  .checkbox-wrapper-16 .checkbox-icon svg {
    width: 3rem;
    height: 3rem;
  }

  .checkbox-wrapper-16 .checkbox-label {
    color: #707070;
    transition: 0.375s ease;
    text-align: center;
  }

.permissions-content{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 2rem;
}

.button-24 {
    font-family: 'Nunito Sans', Courier, monospace;
  background: #4274ff;
  border: 1px solid #4274ff;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  min-height: 25px;
  outline: 0;
  padding: 10px 7px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #4274ff;
  border: 1px #4274ff solid;
}

.button-24:active {
  opacity: .5;
}
