<section class="container">
    <div class="form-container">
        <h2>Agregar Nuevo Usuario...</h2>
        
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">           
            <!-- Titulo del Documento -->
            <fieldset class="form-group title">
                <label for="name">Nombre</label>
                <input formControlName="name" class="input-form" type="text" id="name" name="name"  maxlength="255" placeholder="Nombre"/>
                @if (userForm.get("name")?.invalid && userForm.get("name")?.touched) {
                    @if (userForm.get("name")?.hasError("required")) {
                        <span class="msg_error">Campo obligatorio</span>
                    }
                    @if (userForm.get("name")?.hasError("maxlength")) {
                        <span class="msg_error">El nombre no puede tener más de 255 caracteres</span>
                    }
                }
            </fieldset>

             <!-- Username -->
             <label for="username">Alias (Username)</label>
             <fieldset class="form-group title">
                 <input formControlName="username" class="input-form" type="text" id="username" name="username" placeholder="Username" required="">
                @if (userForm.get("username")?.invalid && userForm.get("name")?.touched) {
                    @if (userForm.get("username")?.hasError("required")) {
                        <span class="msg_error">Campo obligatorio</span>
                    }
                    @if (userForm.get("username")?.hasError("maxlength")) {
                        <span class="msg_error">El Alias no puede tener más de 255 caracteres</span>
                    }
                }
             </fieldset>


            <label for="new_password">Nueva contraseña</label>
            <fieldset class="form-group title">
                <input formControlName="new_password" class="input-form" type="password" id="new_password" name="new_password" placeholder="Nueva contraseña" required="">
                @if (userForm.get("new_password")?.invalid && userForm.get("new_password")?.touched) {
                    @if (userForm.get("new_password")?.hasError("required")) {
                        <span class="msg_error">Campo obligatorio</span>
                    }
                    @if (userForm.get("new_password")?.hasError("maxlength")) {
                        <span class="msg_error">La contraseña no puede tener más de 255 caracteres</span>
                    }
                }
            </fieldset>
            <!-- Contraseña -->
            <label for="new_password_confirmation">Confirmar contraseña</label>
            <fieldset class="form-group title">
                <input formControlName="new_password_confirmation" class="input-form" type="password" id="new_password_confirmation" name="new_password_confirmation" placeholder="Confirmacion" required="">
                @if (userForm.get("new_password_confirmation")?.invalid && userForm.get("new_password_confirmation")?.touched) {
                    @if (userForm.get("new_password_confirmation")?.hasError("required")) {
                        <span class="msg_error">Campo obligatorio</span>
                    }
                    @if (userForm.get("new_password_confirmation")?.hasError("maxlength")) {
                        <span class="msg_error">La contraseña no puede tener más de 255 caracteres</span>
                    }
                }
            </fieldset>

            <!-- Admin Password -->
             <label for="admin_password">Confirmar contraseña</label>
            <fieldset class="form-group title">
                <input formControlName="admin_password" class="input-form" type="password" id="admin_password" name="admin_password" placeholder="Confirmacion" required="">
                @if (userForm.get("admin_password")?.invalid && userForm.get("admin_password")?.touched) {
                    @if (userForm.get("admin_password")?.hasError("required")) {
                        <span class="msg_error">Campo obligatorio</span>
                    }
                    @if (userForm.get("admin_password")?.hasError("maxlength")) {
                        <span class="msg_error">La contraseña no puede tener más de 255 caracteres</span>
                    }
                }
            </fieldset>
            <!-- Rol -->
            <fieldset class="form-group title">
                <label for="role">Rol</label>
                <select formControlName="role" class="input-form" id="role" name="role" required="">
                    <option value="" disabled>Selecciona una opción</option>
                    <option value="user" >Usuario</option>
                    <option value="admin">Administrador</option>
                </select>
                @if (userForm.get("role")?.invalid && userForm.get("role")?.touched) {
                    @if (userForm.get("role")?.hasError("required")) {
                        <span class="msg_error">Campo obligatorio</span>
                    }
                }
            </fieldset>
            <fieldset class="form-group title">
                <label for="permissions">Permisos</label>
                @for (item of ['create', 'read', 'update', 'delete']; track $index) {
                    <label for="{{item}}" class="checkbox">
                    <input 
                        name="{{item}}"
                        id="{{item}}"
                        type="checkbox" 
                        [value]="item"
                        (change)="onCheckboxChange($event)"
                    />
                    {{ item }}
                    </label>
                }
            </fieldset>

            <!-- Botón para guardar -->
            <fieldset class="form-group submit">
                <button type="submit" >Guardar Documento</button>
            </fieldset>
            

        </form>
    </div>
</section>
