<div class="history-item__item">
  <div class="timeline-wrapper">
  <div class="timeline-marker" [style.--color]="getStatusColor(historyItem.status.name)"></div>
  <div class="timeline-line"></div>
</div>
<div class="history-item__content">
  <header class="title">
    <div>
      <h5>
      <span class="status">{{historyItem.status.name}}</span> 
       {{historyItem.title}} 
      </h5>
      <p class="subtext">{{getFormattedDate(historyItem.created_at)}}</p>
    </div>
  </header>
  <div class="content">
    <p>
      {{historyItem.description}}
    </p>
  </div>
</div>
</div>