<section>
    <h2>Panel de Control</h2>
    <div class="control-panel-grid">
        <div class="control-panel-list-users">
            <h3>Lista de Usuarios</h3>
            <ul>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                        <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><circle cx="12" cy="8" r="5" fill="currentColor"/><path d="M20 21a8 8 0 1 0-16 0"/><path fill="currentColor" d="M12 13a8 8 0 0 0-8 8h16a8 8 0 0 0-8-8"/></g>
                    </svg>
                    <p>Usuario 1</p>
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                        <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><circle cx="12" cy="8" r="5" fill="currentColor"/><path d="M20 21a8 8 0 1 0-16 0"/><path fill="currentColor" d="M12 13a8 8 0 0 0-8 8h16a8 8 0 0 0-8-8"/></g>
                    </svg>
                    <p>Usuario 2</p>
                </li>                
                <a href="">Ver mas</a>
            </ul>
        </div> 

        <section class="control-panel-active-u users">
            <div class="activity-users">
                <p class="number">3</p>
                <h3>Usuarios Activos</h3>
            </div>
            <div class="control-panel-control-user-gestion users">
                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24">
                    <path fill="currentColor" fill-rule="evenodd" d="M5 8a4 4 0 1 1 7.796 1.263l-2.533 2.534A4 4 0 0 1 5 8m4.06 5H7a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h2.172a3 3 0 0 1-.114-1.588l.674-3.372a3 3 0 0 1 .82-1.533zm9.032-5a2.9 2.9 0 0 0-2.056.852L9.967 14.92a1 1 0 0 0-.273.51l-.675 3.373a1 1 0 0 0 1.177 1.177l3.372-.675a1 1 0 0 0 .511-.273l6.07-6.07a2.91 2.91 0 0 0-.944-4.742A2.9 2.9 0 0 0 18.092 8" clip-rule="evenodd"/>
                </svg>
                <h3>Gestionar Usuarios</h3>
            </div>   
        </section>

        <div class="control-panel-recent-activity">
            <h3>Actividad Reciente</h3>
            <hr>
            <ul class="activity-list">
                <li class="activity">
                    <p>Usuario 1 ha registrado un documento <span class="document">Oficio No. 125</span></p>
                </li>
                <li class="activity">
                    <p>Usuario 1 ha registrado un documento <span class="document">Oficio No. 125</span></p>
                </li>
                <li class="activity">
                    <p>Usuario 1 ha registrado un documento <span class="document">Oficio No. 125</span></p>
                </li>
                <a href="">Ver mas</a>
            </ul>
        </div>

        <div class="control-panel-generl-info">
            <h3>Informacion General</h3>
            <aside>
                <p>12</p>
                <h4>Documentos Registrados</h4>
            </aside>
            <aside>
                <p>4</p>
                <h4>Documentos en Proceso</h4>
            </aside>
            <aside>
                <p>44</p>
                <h4>Documentos Firmados</h4>
            </aside>
        </div>

        <div class="control-panel-alerts">
            <h3 class="alert">Alertas</h3>
            <hr>
            <ul>
                <li class="atention">
                    <p>El documento "Oficio No. 125" está pendiente de firma.</p>
                </li>
                <li>
                    <p>El documento "Acta de reunión" ha superado el tiempo límite para su modificación.</p>
                </li>
                <a href="">Ver mas</a>
            </ul>
        </div>
    </div>
</section>