@if(isLoading){
<div class="border-container">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="Nombre">
            <th mat-header-cell *matHeaderCellDef> NOMBRE </th>
            <td mat-cell *matCellDef="let user">
                <button class="button-name" [routerLink]="['/main/usuario/', user.id]">
                    {{user.name}}
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="Alias">
            <th mat-header-cell *matHeaderCellDef> Username </th>
            <td mat-cell *matCellDef="let element" class="ellipsis-cell"> {{element.username}} </td>
        </ng-container>

        <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef> ACCIONES</th>
            <td mat-cell *matCellDef="let element">
               <div class="btns-container">
                <button class="editbtn btn" [routerLink]="['/main/editarusuario/', element.id]">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24">
                        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3 21h18M12.222 5.828L15.05 3L20 7.95l-2.828 2.828m-4.95-4.95l-5.607 5.607a1 1 0 0 0-.293.707v4.536h4.536a1 1 0 0 0 .707-.293l5.607-5.607m-4.95-4.95l4.95 4.95"/>
                    </svg>
                </button>
                <button class="deletebtn btn" (click)="openDialog(element.id, element.name)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M19 4h-3.5l-1-1h-5l-1 1H5v2h14M6 19a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7H6z"/>
                    </svg>
                </button>
               </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[15]" showFirstLastButtons></mat-paginator>
</div>
}